
body{

  /* background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 10%, #ffffff 90%);
	background-attachment:fixed;
  border-color: transparent; */


}

.cards-list {
  display: none;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
   
    display: flex;
    margin: 6px ;
    width: 298px;
    height: 147px;

    /* border-radius: 5px; */
  /* box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.25), -1px -1px 1px 1px rgba(0,0,0,0.22); */
    cursor: pointer;
    transition: 0.4s;
  }


  .carsur {
    
    position:absolute; 
    left:130px;
    top:102px;
    width: 160px;
  } 


  .carnorte {
    
    position:absolute; 
    left:120px;
    top:100px;
    width: 160px;
  

  /* box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.25), -1px -1px 1px 1px rgba(0,0,0,0.22); */
    cursor: pointer;
    transition: 0.4s;
  }


  
  .r{
/* 
    width: 290px;
    height: 160px; */



  }
 

  .card .card_image {
    width: 90;
    height: 110;
    margin-right: 20px;
    /* border-radius: 10px; */
  }
  
  .card .card_image img {
    width: 115px;
    height: inherit;
    margin-right: 20px;
    /* border-radius: 3px; */
    object-fit: cover;
  }
.norte{

    -webkit-text-fill-color: rgb(82, 82, 82);
    /* text-shadow: 0.1em 0.01em 0.1em rgb(248, 248, 248); */
    /* -moz-box-shadow: 0px 0px 4px #ffffff;
-webkit-box-shadow: 0px 0px 4px #ffffff; */
/* box-shadow: 0px 0px 4px #ffffff; */
	/* background: -webkit-linear-gradient(90deg, rgb(255, 254, 254) 10%, rgb(255, 255, 255) 90%); */
	/* background-attachment:fixed; */


  }
.este{

    -webkit-text-fill-color: rgb(192, 0, 10);
    /* text-shadow: 0.2em 0.1em 0.2em black; */
	/* background: -webkit-linear-gradient(90deg, rgb(255, 0, 0) 10%, rgb(255, 0, 0) 90%);
	background-attachment:fixed; */




}


.oeste{

    -webkit-text-fill-color: rgb(0, 0, 0);
    /* text-shadow: 0.2em 0.1em 0.2em black; */
	/* background: -webkit-linear-gradient(90deg, rgb(26, 26, 26) 10%, rgb(17, 0, 0) 90%);
	background-attachment:fixed; */




}
.normal{


    -webkit-text-fill-color: rgb(65, 65, 65);
 
/*     
	background: -webkit-linear-gradient(90deg, rgb(80, 80, 80) 10%, rgb(80, 80, 80) 90%);
	background-attachment:fixed; */


}

.sur{

    -webkit-text-fill-color: rgb(189, 154, 0);
    /* text-shadow: 0.2em 0.1em 0.2em black; */
	/* background: -webkit-linear-gradient(90deg, rgb(255, 238, 0) 10%, rgb(255, 238, 0) 90%);
	background-attachment:fixed; */




}

.fecha{

    -webkit-text-fill-color: rgb(100, 100, 100);
    /* text-shadow: 0.2em 0.1em 0.2em black; */
	/* background: -webkit-linear-gradient(90deg, #744eff, #744eff);
	background-attachment:fixed; */




}



.des{

  font-size: 12px !important;
text-align: right;
margin-top: -40;
padding-top: -25;

}
.espb{

margin-bottom: 30px;

}
.espacio{

margin-top: 30px;


}

.circuloN{
  margin-top: -33;

  height:10px;
  width:10px;
  background:#ffffff;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
  position: absolute;
}

.circuloNb{
  margin-top: -33;
position: absolute;
  height:12px;
  width:11px;
  background:#000000;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
}
.circuloS{
  margin-top: -33;

  height:10px;
  width:10px;
  background:#ffee00;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
}
.circuloE{
  margin-top: -33;
  /* vertical-align: inherit; */
  height:10px;
  width:10px;
  background:#dd0000;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
}

.circuloO{
  margin-top: -33;
  height:10px;
  width:10px;
  background:#000000;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
}



.card .card_title {
  text-align: right;
  /* border-radius: 0px 0px 40px 40px; */
  font-family: "Monserrat" sans-serif;
  /* font-weight: bold; */
  font-size: 17px;
  margin: 19px;
  /* margin-left: 10; */
  margin-top: -90px;
  height: 40px;
}
  .card .card_titlen {
    text-align: right;
    /* border-radius: 0px 0px 40px 40px; */
    font-family: "Monserrat" sans-serif;
    /* font-weight: bold; */
    font-size: 17px;
    margin: 45px;
    margin-left: 10;
    margin-top: -103px;
    height: 40px;
  }
  .card .card_title1 {
    text-align: right;
    /* border-radius: 0px 0px 40px 40px; */
    font-family: "Monserrat" sans-serif;
    /* font-weight: bold; */
    font-size: 13px;
    margin: 10px;
    margin-top: -20px;
    height: 40px;
  }
  .card .card_titlec {
    text-align: center;
    /* border-radius: 0px 0px 40px 40px; */
    font-family: "Monserrat" sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.99, 0.99);
    /* box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22); */
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  /* @media all and (max-width: 500px) {
    .card-list {
  
      flex-direction: column;
    }
  } */
  
  
  /*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */