* {

	text-align: center;
  font-family: 'Raleway', sans-serif;
	font-weight: normal;

}

h1, h2, #wordTheme, #solveButton, #newGameButton, .listWord {

	padding: 6px;

}

h1, h2, #wordTheme, #solveButton, #newGameButton {

	
	border-radius: 8px;

} 

 h2, .cell, #wordTheme, #wordlist {

	/* background-color: white; */

}
h6{
	font-size: 18px;

}
h1, h2 {

	margin: 10px auto 10px auto;
	display: table;

}

body {
	color: rgb(243, 243, 243);
	background: -webkit-linear-gradient(90deg, rgb(107, 106, 98) 10%, rgb(65, 62, 57) 90%);
	background-attachment:fixed;
}

#wordTheme {

	border-radius: 8px;

}

#wordboard {

	margin: 0px auto 0 auto;
    
	
	display: table;
	min-width: 650px;

}

.boardRow {

	display: table-row;

}

.cell {

	margin: 0 auto;
	border: none;
	display: table-cell;
	height:30px;
	width: 30px;
	font-size: 17px;
	padding: 0;
	outline: 0;

	/*ensures text can't be accidentally selected*/
	cursor: default; 
	-moz-user-select: none;
    -ms-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 

}

.cell:hover {

	background-color: rgb(149, 126, 63);

}

.cell.selectable {

	background-color: rgb(110, 110, 153);

}

.cell.selected { 

	background-color: rgb(155, 89, 46);

}

.cell.found {

	background-color: rgb(123, 158, 125);
	border: 1px black solid;
	font-weight: bold;

}

#wordlist { 

	margin: 20px auto 0 ;

	display: table;
	min-width: 400px;
	font-size: 12px;
	text-align: center;
	
}

.listRow {

	display: table-row;

}

.listWord {

	display: table-cell;
	
}

.listWord.found {

	color: rgb(158, 123, 158);
	text-decoration: line-through;
	
}

#solveButton, #newGameButton {

	/* background-color: rgb(199, 226, 201);
	margin: 10px auto 10px auto;
	display: block;
	outline: 0;
	border-radius: 5px;
	font-size: 14px; */


}

@font-face {

	font-family: "Moon";
	src: url("../fonts/Moon-Regular.woff2") format("woff2"),
		 url("../fonts/Moon-Regular.woff") format("woff");
	font-weight: normal;

}

@font-face {

	font-family: "Moon";
	src: url("../fonts/Moon-Bold.woff2") format("woff2"),
		 url("../fonts/Moon-Bold.woff") format("woff");
	font-weight: bold;

}

.nav-link {
	color: #f0f0f0;
  }
  